- name: "Setting up Portainer Server Docker on CentOS host"
  hosts: "{{ hostaddr }}"
  remote_user: "{{ username }}"
  become: yes
  become_method: "sudo"
  become_user: "root"
  tasks:
    - name: "STEP 1 - Install EPEL repositories on the remote machine"
      dnf:
        name: "epel-release"
        state: "latest"
    - name: "STEP 2 - Install python3-docker on the remote machine"
      dnf:
        name: "python3-docker"
        state: "latest"
    - name: "STEP 3 - Pull portainer/portainer-ce:latest from DockerHub"
      community.docker.docker_image:
        name: "portainer/portainer-ce:latest"
        source: "pull"
    - name: "STEP 4 - Create volume to store database"
      community.docker.docker_volume:
        name: "{{ portsrvr_volm }}"
    - name: "STEP 5 - Configure and start the Portainer Server container"
      community.docker.docker_container:
        name: "{{ portsrvr_hostname }}"
        image: "portainer/portainer-ce:latest"
        restart_policy: "always"
        ports:
          - "{{ portsrvr_webp }}:8000/tcp"
          - "{{ portsrvr_tlsp }}:9443/tcp"
        volumes:
          - "{{ portsrvr_sock }}:/var/run/docker.sock"
          - "{{ portsrvr_volm }}:/data"
    - name: "STEP 6 - Remove python3-docker from the remote machine"
      dnf:
        name: "python3-docker"
        state: "absent"
