- name: "Setting up Deluge Docker on CentOS host"
  hosts: "{{ hostaddr }}"
  remote_user: "{{ username }}"
  become: "yes"
  become_method: "sudo"
  become_user: "root"
  tasks:
    - name: "STEP 1 - Install EPEL repositories on the remote machine"
      dnf:
        name: "epel-release"
        state: "latest"
    - name: "STEP 2 - Install python3-docker on the remote machine"
      dnf:
        name: "python3-docker"
        state: "latest"
    - name: "STEP 3 - Pull linuxserver/deluge:latest from DockerHub"
      community.docker.docker_image:
        name: "linuxserver/deluge:latest"
        source: "pull"
    - name: "STEP 4 - Make directories for storing Deluge configuration and downloads"
      file:
        path: "{{ lxsvdlug_conf }}"
        state: "directory"
      file:
        path: "{{ lxsvdlug_data }}"
        state: "directory"
    - name: "STEP 5 - Configure and start the Deluge container"
      community.docker.docker_container:
        name: "{{ lxsvdlug_hostname }}"
        image: "linuxserver/deluge:latest"
        restart_policy: "always"
        ports:
          - "{{ lxsvdlug_webp }}:8112"
          - "{{ lxsvdlug_rpct }}:6881/tcp"
          - "{{ lxsvdlug_rpcu }}:6881/udp"
        volumes:
          - "{{ lxsvdlug_conf }}:/config"
          - "{{ lxsvdlug_data }}:/downloads"
        env:
          PUID: "1000"
          PGID: "1000"
          TZ: "{{ lxsvdlug_timezone }}"
          DELUGE_LOGLEVEL: "{{ lxsvdlug_loglevel }}"
    - name: "STEP 6 - Remove python3-docker from the remote machine"
      dnf:
        name: "python3-docker"
        state: "absent"
